/* Small devices (portrait tablets and large phones, 600px and up) */
body{
    background: lightsalmon;
}
.images{
width: 100%;
}
.container{
    display: inherit;
}
.extra{
    display: inherit;
}
.third-ancor{
    margin-left: 5%;
}
.third-ancor{
   
margin-right: -200px;
}

       
        .detels h1{
            font-size: 20px;
            margin-bottom: 10px; }
            .container{
                display: flex;
                padding: 50px 20px 10px;
            }  
            .box-1 img{
                padding-top: 3%;
                padding-left:0%;
              padding-right:-5% ;
              } 
              .images{
                width: 20%;
                height: 30%;
                position: absolute;
            bottom: 170px;
                right: -100px;

    }