/* font style*/
body{
    @import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Poppins:wght@500;700&display=swap');
    font-family: 'Poppins', sans-serif; 
}
nav h2{
   
    margin-left:5% ;
}
.background{
    position: relative;
    width: 100%;
    height: 100vh;
    
}


.detels{
    margin-left: 5%;
   
}
.detels h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.detels p{
    line-height: 25px;
    font-size:15px ;
    font-weight: 500px;
}



.detels a{
   padding: 10px 18px;
text-decoration: none;
font-weight: bold;
color: white;
margin: 30px 0px;
background: #E02C6D;
border-radius: 41px;
display: inline-block;
}


.images{
    width: 35%;
    height: 70%;
    position: absolute;
bottom: 150px;
    right: 100px;
}
.images img{
    position: absolute;
    height: 100%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.images:hover .circle{
    bottom: 50px;
}


.images:hover .camera{
    left: 45%;
}
.center{
    text-align: center;
    margin-top: 100px;
}
.color{
    color: coral;
}
span{
    color: dimgrey
}
.container{
    display: flex;
    padding: 90px 50px 20px;
} 

.box-1,.box-2,.box-3{
    margin: 70px 60px;
    margin-right: -10px;
    padding-left: 20px;
    width: 500px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px rgb(180, 178, 176);
    border-radius: 5px;
    
}
.box-1 img{
  padding-top: 8%;
  padding-left:10%;
padding-right:10% ;
}
.star{
    color: coral;
}
.ratio{
    color: rgb(100, 93, 93);
}
.box-2 img{
    padding-top: 8%;
    padding-left:10%;
  padding-right:10% ;
}
.box-3 img{
    padding-top: 8%;
    padding-left:10%;
  padding-right:10% ;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }