/* font style*/
body{
    @import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Poppins:wght@500;700&display=swap');
    font-family: 'Poppins', sans-serif; 
}
nav h2{
   
    margin-left:5% ;
}
.background{
    position: relative;
    width: 100%;
    height: 100vh;
    
}


.detels{
    margin-left: 5%;
   
}
.detels h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.detels p{
    line-height: 25px;
    font-size:15px ;
    font-weight: 500px;
}



.detels a{
   padding: 10px 18px;
text-decoration: none;
font-weight: bold;
color: white;
margin: 30px 0px;
background: #E02C6D;
border-radius: 41px;
display: inline-block;
}


.images{
    width: 35%;
    height: 70%;
    position: absolute;
bottom: 150px;
    right: 100px;
}
.images img{
    position: absolute;
    height: 100%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.images:hover .circle{
    bottom: 50px;
}


.images:hover .camera{
    left: 45%;
}
.center{
    text-align: center;
    margin-top: 100px;
}
.color{
    color: coral;
}
